@font-face {
        font-family: "SF-Compact";
        src: url(SF-Compact.ttf);
}
@font-face {
        font-family: "SF-Pro-Display-LightItalic";
        src: url(SF-Pro-Display-LightItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Italic";
        src: url(SF-Pro-Italic.ttf);
}
@font-face {
        font-family: "SF-Pro-Text-Bold";
        src: url(SF-Pro-Text-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Text-MediumItalic";
        src: url(SF-Pro-Text-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Regular";
        src: url(SF-Mono-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Medium";
        src: url(SF-Pro-Display-Medium.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Bold";
        src: url(SF-Pro-Rounded-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Text-BoldItalic";
        src: url(SF-Pro-Text-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Regular";
        src: url(SF-Pro-Text-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Bold";
        src: url(SF-Pro-Display-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Display-MediumItalic";
        src: url(SF-Pro-Display-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Light";
        src: url(SF-Pro-Rounded-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Light";
        src: url(SF-Pro-Text-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Text-RegularItalic";
        src: url(SF-Pro-Text-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-BoldItalic";
        src: url(SF-Pro-Display-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Regular";
        src: url(SF-Pro-Display-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Medium";
        src: url(SF-Pro-Rounded-Medium.otf);
}
@font-face {
        font-family: "SF-Pro-Text-LightItalic";
        src: url(SF-Pro-Text-LightItalic.otf);
}
@font-face {
        font-family: "SF-Pro";
        src: url(SF-Pro.ttf);
}
@font-face {
        font-family: "SF-Pro-Display-Light";
        src: url(SF-Pro-Display-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Display-RegularItalic";
        src: url(SF-Pro-Display-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Regular";
        src: url(SF-Pro-Rounded-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Medium";
        src: url(SF-Pro-Text-Medium.otf);
}