@font-face {
        font-family: "Apple Braille Outline 6 Dot";
        src: url(/fonts/Apple Braille Outline 6 Dot.ttf);
}
@font-face {
        font-family: "Apple Braille Outline 8 Dot";
        src: url(/fonts/Apple Braille Outline 8 Dot.ttf);
}
@font-face {
        font-family: "Apple Braille Pinpoint 6 Dot";
        src: url(/fonts/Apple Braille Pinpoint 6 Dot.ttf);
}
@font-face {
        font-family: "Apple Braille Pinpoint 8 Dot";
        src: url(/fonts/Apple Braille Pinpoint 8 Dot.ttf);
}
@font-face {
        font-family: "Apple Braille";
        src: url(/fonts/Apple Braille.ttf);
}
@font-face {
        font-family: "Apple Chancery";
        src: url(/fonts/Apple Chancery.ttf);
}
@font-face {
        font-family: "Apple Color Emoji";
        src: url(/fonts/Apple Color Emoji.ttc);
}
@font-face {
        font-family: "Apple Symbols";
        src: url(/fonts/Apple Symbols.ttf);
}
@font-face {
        font-family: "AppleGothic";
        src: url(/fonts/AppleGothic.ttf);
}
@font-face {
        font-family: "AppleMyungjo";
        src: url(/fonts/AppleMyungjo.ttf);
}
@font-face {
        font-family: "AppleSDGothicNeo";
        src: url(/fonts/AppleSDGothicNeo.ttc);
}
@font-face {
        font-family: "NewYork";
        src: url(/fonts/NewYork.ttf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Black";
        src: url(/fonts/NewYorkExtraLarge-Black.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-BlackItalic";
        src: url(/fonts/NewYorkExtraLarge-BlackItalic.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Bold";
        src: url(/fonts/NewYorkExtraLarge-Bold.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-BoldItalic";
        src: url(/fonts/NewYorkExtraLarge-BoldItalic.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Heavy";
        src: url(/fonts/NewYorkExtraLarge-Heavy.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-HeavyItalic";
        src: url(/fonts/NewYorkExtraLarge-HeavyItalic.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Medium";
        src: url(/fonts/NewYorkExtraLarge-Medium.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-MediumItalic";
        src: url(/fonts/NewYorkExtraLarge-MediumItalic.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Regular";
        src: url(/fonts/NewYorkExtraLarge-Regular.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-RegularItalic";
        src: url(/fonts/NewYorkExtraLarge-RegularItalic.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-Semibold";
        src: url(/fonts/NewYorkExtraLarge-Semibold.otf);
}
@font-face {
        font-family: "NewYorkExtraLarge-SemiboldItalic";
        src: url(/fonts/NewYorkExtraLarge-SemiboldItalic.otf);
}
@font-face {
        font-family: "NewYorkItalic";
        src: url(/fonts/NewYorkItalic.ttf);
}
@font-face {
        font-family: "NewYorkLarge-Black";
        src: url(/fonts/NewYorkLarge-Black.otf);
}
@font-face {
        font-family: "NewYorkLarge-BlackItalic";
        src: url(/fonts/NewYorkLarge-BlackItalic.otf);
}
@font-face {
        font-family: "NewYorkLarge-Bold";
        src: url(/fonts/NewYorkLarge-Bold.otf);
}
@font-face {
        font-family: "NewYorkLarge-BoldItalic";
        src: url(/fonts/NewYorkLarge-BoldItalic.otf);
}
@font-face {
        font-family: "NewYorkLarge-Heavy";
        src: url(/fonts/NewYorkLarge-Heavy.otf);
}
@font-face {
        font-family: "NewYorkLarge-HeavyItalic";
        src: url(/fonts/NewYorkLarge-HeavyItalic.otf);
}
@font-face {
        font-family: "NewYorkLarge-Medium";
        src: url(/fonts/NewYorkLarge-Medium.otf);
}
@font-face {
        font-family: "NewYorkLarge-MediumItalic";
        src: url(/fonts/NewYorkLarge-MediumItalic.otf);
}
@font-face {
        font-family: "NewYorkLarge-Regular";
        src: url(/fonts/NewYorkLarge-Regular.otf);
}
@font-face {
        font-family: "NewYorkLarge-RegularItalic";
        src: url(/fonts/NewYorkLarge-RegularItalic.otf);
}
@font-face {
        font-family: "NewYorkLarge-Semibold";
        src: url(/fonts/NewYorkLarge-Semibold.otf);
}
@font-face {
        font-family: "NewYorkLarge-SemiboldItalic";
        src: url(/fonts/NewYorkLarge-SemiboldItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Black";
        src: url(/fonts/NewYorkMedium-Black.otf);
}
@font-face {
        font-family: "NewYorkMedium-BlackItalic";
        src: url(/fonts/NewYorkMedium-BlackItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Bold";
        src: url(/fonts/NewYorkMedium-Bold.otf);
}
@font-face {
        font-family: "NewYorkMedium-BoldItalic";
        src: url(/fonts/NewYorkMedium-BoldItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Heavy";
        src: url(/fonts/NewYorkMedium-Heavy.otf);
}
@font-face {
        font-family: "NewYorkMedium-HeavyItalic";
        src: url(/fonts/NewYorkMedium-HeavyItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Medium";
        src: url(/fonts/NewYorkMedium-Medium.otf);
}
@font-face {
        font-family: "NewYorkMedium-MediumItalic";
        src: url(/fonts/NewYorkMedium-MediumItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Regular";
        src: url(/fonts/NewYorkMedium-Regular.otf);
}
@font-face {
        font-family: "NewYorkMedium-RegularItalic";
        src: url(/fonts/NewYorkMedium-RegularItalic.otf);
}
@font-face {
        font-family: "NewYorkMedium-Semibold";
        src: url(/fonts/NewYorkMedium-Semibold.otf);
}
@font-face {
        font-family: "NewYorkMedium-SemiboldItalic";
        src: url(/fonts/NewYorkMedium-SemiboldItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Black";
        src: url(/fonts/NewYorkSmall-Black.otf);
}
@font-face {
        font-family: "NewYorkSmall-BlackItalic";
        src: url(/fonts/NewYorkSmall-BlackItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Bold";
        src: url(/fonts/NewYorkSmall-Bold.otf);
}
@font-face {
        font-family: "NewYorkSmall-BoldItalic";
        src: url(/fonts/NewYorkSmall-BoldItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Heavy";
        src: url(/fonts/NewYorkSmall-Heavy.otf);
}
@font-face {
        font-family: "NewYorkSmall-HeavyItalic";
        src: url(/fonts/NewYorkSmall-HeavyItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Medium";
        src: url(/fonts/NewYorkSmall-Medium.otf);
}
@font-face {
        font-family: "NewYorkSmall-MediumItalic";
        src: url(/fonts/NewYorkSmall-MediumItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Regular";
        src: url(/fonts/NewYorkSmall-Regular.otf);
}
@font-face {
        font-family: "NewYorkSmall-RegularItalic";
        src: url(/fonts/NewYorkSmall-RegularItalic.otf);
}
@font-face {
        font-family: "NewYorkSmall-Semibold";
        src: url(/fonts/NewYorkSmall-Semibold.otf);
}
@font-face {
        font-family: "NewYorkSmall-SemiboldItalic";
        src: url(/fonts/NewYorkSmall-SemiboldItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Black";
        src: url(/fonts/SF-Compact-Display-Black.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Bold";
        src: url(/fonts/SF-Compact-Display-Bold.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Heavy";
        src: url(/fonts/SF-Compact-Display-Heavy.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Light";
        src: url(/fonts/SF-Compact-Display-Light.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Medium";
        src: url(/fonts/SF-Compact-Display-Medium.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Regular";
        src: url(/fonts/SF-Compact-Display-Regular.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Semibold";
        src: url(/fonts/SF-Compact-Display-Semibold.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Thin";
        src: url(/fonts/SF-Compact-Display-Thin.otf);
}
@font-face {
        font-family: "SF-Compact-Display-Ultralight";
        src: url(/fonts/SF-Compact-Display-Ultralight.otf);
}
@font-face {
        font-family: "SF-Compact-Italic";
        src: url(/fonts/SF-Compact-Italic.ttf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Black";
        src: url(/fonts/SF-Compact-Rounded-Black.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Bold";
        src: url(/fonts/SF-Compact-Rounded-Bold.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Heavy";
        src: url(/fonts/SF-Compact-Rounded-Heavy.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Light";
        src: url(/fonts/SF-Compact-Rounded-Light.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Medium";
        src: url(/fonts/SF-Compact-Rounded-Medium.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Regular";
        src: url(/fonts/SF-Compact-Rounded-Regular.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Semibold";
        src: url(/fonts/SF-Compact-Rounded-Semibold.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Thin";
        src: url(/fonts/SF-Compact-Rounded-Thin.otf);
}
@font-face {
        font-family: "SF-Compact-Rounded-Ultralight";
        src: url(/fonts/SF-Compact-Rounded-Ultralight.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Black";
        src: url(/fonts/SF-Compact-Text-Black.otf);
}
@font-face {
        font-family: "SF-Compact-Text-BlackItalic";
        src: url(/fonts/SF-Compact-Text-BlackItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Bold";
        src: url(/fonts/SF-Compact-Text-Bold.otf);
}
@font-face {
        font-family: "SF-Compact-Text-BoldItalic";
        src: url(/fonts/SF-Compact-Text-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Heavy";
        src: url(/fonts/SF-Compact-Text-Heavy.otf);
}
@font-face {
        font-family: "SF-Compact-Text-HeavyItalic";
        src: url(/fonts/SF-Compact-Text-HeavyItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Light";
        src: url(/fonts/SF-Compact-Text-Light.otf);
}
@font-face {
        font-family: "SF-Compact-Text-LightItalic";
        src: url(/fonts/SF-Compact-Text-LightItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Medium";
        src: url(/fonts/SF-Compact-Text-Medium.otf);
}
@font-face {
        font-family: "SF-Compact-Text-MediumItalic";
        src: url(/fonts/SF-Compact-Text-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Regular";
        src: url(/fonts/SF-Compact-Text-Regular.otf);
}
@font-face {
        font-family: "SF-Compact-Text-RegularItalic";
        src: url(/fonts/SF-Compact-Text-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Semibold";
        src: url(/fonts/SF-Compact-Text-Semibold.otf);
}
@font-face {
        font-family: "SF-Compact-Text-SemiboldItalic";
        src: url(/fonts/SF-Compact-Text-SemiboldItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Thin";
        src: url(/fonts/SF-Compact-Text-Thin.otf);
}
@font-face {
        font-family: "SF-Compact-Text-ThinItalic";
        src: url(/fonts/SF-Compact-Text-ThinItalic.otf);
}
@font-face {
        font-family: "SF-Compact-Text-Ultralight";
        src: url(/fonts/SF-Compact-Text-Ultralight.otf);
}
@font-face {
        font-family: "SF-Compact-Text-UltralightItalic";
        src: url(/fonts/SF-Compact-Text-UltralightItalic.otf);
}
@font-face {
        font-family: "SF-Compact";
        src: url(/fonts/SF-Compact.ttf);
}
@font-face {
        font-family: "SF-Mono-Bold";
        src: url(/fonts/SF-Mono-Bold.otf);
}
@font-face {
        font-family: "SF-Mono-BoldItalic";
        src: url(/fonts/SF-Mono-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Heavy";
        src: url(/fonts/SF-Mono-Heavy.otf);
}
@font-face {
        font-family: "SF-Mono-HeavyItalic";
        src: url(/fonts/SF-Mono-HeavyItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Light";
        src: url(/fonts/SF-Mono-Light.otf);
}
@font-face {
        font-family: "SF-Mono-LightItalic";
        src: url(/fonts/SF-Mono-LightItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Medium";
        src: url(/fonts/SF-Mono-Medium.otf);
}
@font-face {
        font-family: "SF-Mono-MediumItalic";
        src: url(/fonts/SF-Mono-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Regular";
        src: url(/fonts/SF-Mono-Regular.otf);
}
@font-face {
        font-family: "SF-Mono-RegularItalic";
        src: url(/fonts/SF-Mono-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Mono-Semibold";
        src: url(/fonts/SF-Mono-Semibold.otf);
}
@font-face {
        font-family: "SF-Mono-SemiboldItalic";
        src: url(/fonts/SF-Mono-SemiboldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Black";
        src: url(/fonts/SF-Pro-Display-Black.otf);
}
@font-face {
        font-family: "SF-Pro-Display-BlackItalic";
        src: url(/fonts/SF-Pro-Display-BlackItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Bold";
        src: url(/fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Display-BoldItalic";
        src: url(/fonts/SF-Pro-Display-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Heavy";
        src: url(/fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
        font-family: "SF-Pro-Display-HeavyItalic";
        src: url(/fonts/SF-Pro-Display-HeavyItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Light";
        src: url(/fonts/SF-Pro-Display-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Display-LightItalic";
        src: url(/fonts/SF-Pro-Display-LightItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Medium";
        src: url(/fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
        font-family: "SF-Pro-Display-MediumItalic";
        src: url(/fonts/SF-Pro-Display-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Regular";
        src: url(/fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Display-RegularItalic";
        src: url(/fonts/SF-Pro-Display-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Semibold";
        src: url(/fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
        font-family: "SF-Pro-Display-SemiboldItalic";
        src: url(/fonts/SF-Pro-Display-SemiboldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Thin";
        src: url(/fonts/SF-Pro-Display-Thin.otf);
}
@font-face {
        font-family: "SF-Pro-Display-ThinItalic";
        src: url(/fonts/SF-Pro-Display-ThinItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Display-Ultralight";
        src: url(/fonts/SF-Pro-Display-Ultralight.otf);
}
@font-face {
        font-family: "SF-Pro-Display-UltralightItalic";
        src: url(/fonts/SF-Pro-Display-UltralightItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Italic";
        src: url(/fonts/SF-Pro-Italic.ttf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Black";
        src: url(/fonts/SF-Pro-Rounded-Black.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Bold";
        src: url(/fonts/SF-Pro-Rounded-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Heavy";
        src: url(/fonts/SF-Pro-Rounded-Heavy.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Light";
        src: url(/fonts/SF-Pro-Rounded-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Medium";
        src: url(/fonts/SF-Pro-Rounded-Medium.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Regular";
        src: url(/fonts/SF-Pro-Rounded-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Semibold";
        src: url(/fonts/SF-Pro-Rounded-Semibold.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Thin";
        src: url(/fonts/SF-Pro-Rounded-Thin.otf);
}
@font-face {
        font-family: "SF-Pro-Rounded-Ultralight";
        src: url(/fonts/SF-Pro-Rounded-Ultralight.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Black";
        src: url(/fonts/SF-Pro-Text-Black.otf);
}
@font-face {
        font-family: "SF-Pro-Text-BlackItalic";
        src: url(/fonts/SF-Pro-Text-BlackItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Bold";
        src: url(/fonts/SF-Pro-Text-Bold.otf);
}
@font-face {
        font-family: "SF-Pro-Text-BoldItalic";
        src: url(/fonts/SF-Pro-Text-BoldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Heavy";
        src: url(/fonts/SF-Pro-Text-Heavy.otf);
}
@font-face {
        font-family: "SF-Pro-Text-HeavyItalic";
        src: url(/fonts/SF-Pro-Text-HeavyItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Light";
        src: url(/fonts/SF-Pro-Text-Light.otf);
}
@font-face {
        font-family: "SF-Pro-Text-LightItalic";
        src: url(/fonts/SF-Pro-Text-LightItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Medium";
        src: url(/fonts/SF-Pro-Text-Medium.otf);
}
@font-face {
        font-family: "SF-Pro-Text-MediumItalic";
        src: url(/fonts/SF-Pro-Text-MediumItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Regular";
        src: url(/fonts/SF-Pro-Text-Regular.otf);
}
@font-face {
        font-family: "SF-Pro-Text-RegularItalic";
        src: url(/fonts/SF-Pro-Text-RegularItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Semibold";
        src: url(/fonts/SF-Pro-Text-Semibold.otf);
}
@font-face {
        font-family: "SF-Pro-Text-SemiboldItalic";
        src: url(/fonts/SF-Pro-Text-SemiboldItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Thin";
        src: url(/fonts/SF-Pro-Text-Thin.otf);
}
@font-face {
        font-family: "SF-Pro-Text-ThinItalic";
        src: url(/fonts/SF-Pro-Text-ThinItalic.otf);
}
@font-face {
        font-family: "SF-Pro-Text-Ultralight";
        src: url(/fonts/SF-Pro-Text-Ultralight.otf);
}
@font-face {
        font-family: "SF-Pro-Text-UltralightItalic";
        src: url(/fonts/SF-Pro-Text-UltralightItalic.otf);
}
@font-face {
        font-family: "SF-Pro";
        src: url(/fonts/SF-Pro.ttf);
}
