body {
        background-color: #1c1c1e;
        color: #f2f2f7;
        font-family: 'SF-Pro';
}
h1, h2, h3, h4 {
        font-family: 'SF-Pro-Rounded-Regular';
        text-align: center;
}
table, td, th {
        border: 1px solid #f2f2f7;
        margin-bottom: 16px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 16px;
}
td, th {
        padding: 8px;
        text-align: center;
}
a {
        color: #0a84ff;
}
button {
        background-color: #0a84ff;
        border: 0px;
        border-radius: 64px;
        font-family: 'SF-Pro-Rounded-Light';
        font-size: 32px;
        margin-left: 64px;
        margin-right: 64px;
        padding-bottom: 32px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 32px;
}
button a {
        color: #f2f2f7;
        text-decoration: none;
}
h1 {
        font-family: 'SF-Pro-Rounded-Bold';
        font-size: 64px;
        text-align: center;
}
h2 {
        font-family: 'SF-Pro-Rounded-Medium';
        font-size: 32px;
}
h3 {
        font-size: 24px;
}
h4 {
        font-size: 20px;
}
input {
        border: 1px solid #ffffff;
        border-radius: 8px;
        font-family: 'SF-Compact-Text-Thin';
        font-size: 32px;
        height: 8vh;
        margin: 16px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        width: calc(100% - 128px);
}
label {
        font-size: 32px;
}
li {
        margin-bottom: 16px;
        margin-top: 16px;
}
ol {
        counter-reset: level1;
}
ol > li {
        list-style-type: none;
        counter-increment: level1;
}
ol > li::before {
        content: counter(level1) ") ";
}
ol ol {
        counter-reset: level2;
}
ol ol > li {
        counter-increment: level2;
}
ol ol > li::before {
        content: counter(level2, lower-alpha) ") ";
}
ol ol ol {
        counter-reset: level3;
}
ol ol ol > li {
        counter-increment: level3;
}
ol ol ol > li::before {
        content: counter(level3, lower-roman) ") ";
}
ol ol ol ol {
        counter-reset: level4;
}
ol ol ol ol > li {
        counter-increment: level4;
}
ol ol ol ol > li::before {
        content: "(" counter(level4, decimal) ") ";
}
ol ol ol ol ol {
        counter-reset: level5;
}
ol ol ol ol ol > li {
        counter-increment: level5;
}
ol ol ol ol ol > li::before {
        content: "(" counter(level5, lower-alpha) ") ";
}
ol ol ol ol ol ol {
        counter-reset: level6;
}
ol ol ol ol ol ol > li {
        counter-increment: level6;
}
ol ol ol ol ol ol > li::before {
        content: "(" counter(level6, lower-roman) ") ";
}
p {
        line-height: 2;
        text-align: justify;
}
table {
        border: 0px;
}
td {
        border-radius: 32px;
}
th {
        background-color: #0a84ff;
        font-family: 'SF-Pro-Rounded-Bold';
}
.card h1, .card h2, .card h3, .card h4, .card p {
        background-color: #48484a;
}
.active-nav-link {
        background-color: #8e8e93;
        border-radius: 32px;
        margin: 8px;
        padding-bottom: 32px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 32px;
}
.active-nav-link a {
        background-color: #8e8e93;
        color: #f2f2f7;
        text-decoration: none;
}
.card {
        background-color: #48484a;
        border: 0px;
        border-radius: 64px;
        display: block;
        left: auto;
        margin: 64px;
        padding: 64px;
        right: auto;
        width: calc(100vw - 286px);
}
.centre {
        display: block;
        left: auto;
        margin-left: auto;
        margin-right: auto;
        right: auto;
        text-align: center;
}
.circle {
        border-radius: 100%;
        box-shadow: 0 0 32px #f2f2f7;
        margin-top: 32px;
}
.code-inline {
        font-family: "SF-Mono-Light";
}
.goodhover {
        scale: 1;
        transition: all 1s ease-in-out;
}
.goodhover:hover {
        box-shadow: 0 0 16px #f2f2f7;
        scale: 1.01;
        transition: all 1s ease-in-out;
}
.headp {
        width: 64vw;
}
.nav-link {
        padding-left: 64px;
        padding-right: 64px;
}
.nav-link a {
        color: #f2f2f7;
        text-decoration: none;
}
.nav-link:hover {
        background-color: #48484a;
        border-radius: 32px;
        margin: 8px;
        padding-bottom: 32px;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 32px;
}
.nav-link:hover a {
        background-color: #48484a;
        color: #f2f2f7;
        text-decoration: none;
}
#filler {
        height: 128px;
}
#footer {
        background-color: #48484a;
        color: #f2f2f7;
        margin: 0px;
        padding: 64px;
        text-align: center;
}
#header {
        background-color: #5c5c5e;
        border-bottom: 1px solid #f2f2f7;
        left: 0;
        padding-bottom: 60px;
        padding-top: 60px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 16777216;
}